
.lista-suspensa {
    margin: 24px 0;
}

.lista-suspensa label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}

.lista-suspensa select {
    background-color: #FFB88C;
    color: #757575; 
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0);
    width: 100%;
    display: flex;
    border: none;
    font-size: 24px;
    padding: 24px;
    border-radius: 8px;
    appearance: none;
    cursor: pointer;

    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 24px center; /* Distância da direita */
    background-size: 24px;


    
}
