 

 :root{
    --color-Primary: #74afaa;

 }

.banner {
    background-color: #74afaa;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Banner img {
    max-width: 100%;
    
    
}