.text-camp{
    margin: 24px 0;
}

.text-camp label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;

}

.text-camp input{
    background-color: #FFB88C;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0);
    width: 92%;
    display: flex;
    border: none;
    font-size: 24px;
    padding: 24px;
    border-radius: 8px;
    
    
}