.form {
  display: flex;
  align-items: center;     
  justify-content: center; 
  height: 100vh;           
  background-color: #f9f9f9; 
}

.form form {
  max-width: 600px;
  width: 100%;
  background-color: #fce7f6;
  padding: 40px;
  
  border-radius: 12px;
}